@model IEnumerable<movie_seat_booking.Models.RowGroup>

@{
    ViewData["Title"] = "Row Groups List";
}


<section id="starter-section" class="starter-section section">

    <div class="card">
        <div class="card-header">
            <div class="container section-title" data-aos="fade-up">
                <h2>Row Groups</h2>
            </div><!-- End Section Title -->
        </div>


        <div class="card-body">


<a href="@Url.Action("CreateRows")">Create New Row Group</a>

<table class="table">
    <thead>
        <tr>
            <th>Group Name</th>
            <th>Price</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var rowGroup in Model)
        {
            <tr>
                <td>@rowGroup.GroupName</td>
                <td>@rowGroup.Price</td>
                <td>
                    <a href="@Url.Action("DetailsRows", new { id = rowGroup.RowGroupId })">Details</a> |
                    <a href="@Url.Action("EditRows", new { id = rowGroup.RowGroupId })">Edit</a> |
                    <a href="@Url.Action("DeleteRows", new { id = rowGroup.RowGroupId })">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
          </div>
    </div>
    </section>