@model IEnumerable<Movie>

@{
    ViewData["Title"] = "Movies List";
}

<h2>Movies</h2>

<a href="@Url.Action("Create")">Create New Movie</a>

<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Genre</th>
            <th>ShowTime</th>
            <th>Price</th>
            <th>Cover Image</th>
            <th>Poster Image</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var movie in Model)
        {
            <tr>
                <td>@movie.Title</td>
                <td>@movie.Genre</td>
                <td>@movie.ShowTime</td>
                <td>@movie.Price</td>
                <td>
                    @if (!string.IsNullOrEmpty(movie.CoverImage))
                    {
                        <img src="~/movieimages/@movie.CoverImage" width="100" height="150" />
                    }
                </td>
                <td>
                    @if (!string.IsNullOrEmpty(movie.PosterImage))
                    {
                        <img src="~/movieposters/@movie.PosterImage" width="200" height="100" />
                    }
                </td>
                <td>
                   
                    <a href="@Url.Action("Edit", new { id = movie.MovieId })">Edit</a> |
                    <a href="@Url.Action("Delete", new { id = movie.MovieId })">Delete</a>|
                    
                    <a href="@Url.Action("CreateSeats", new { movieId = movie.MovieId })">Create Seats</a>|
                    <a href="@Url.Action("ViewSeats", new { movieId = movie.MovieId })">View Seats</a> 
                       
                          @*  <form action="@Url.Action("CreateSeats", "Admin")" method="post" style="display:inline;">
                        <input type="hidden" name="movieId" value="@movie.MovieId" />
                        <button type="submit" class="btn btn-primary">Create Seats</button>
                          </form> *@
                </td>
            </tr>
        }
    </tbody>
</table>

