@model List<Movie>


<section id="services" class="services section">

    <!-- Section Title -->
    
<div class="row">
        <!-- End Section Title -->

        <div class="container">
            <br />
            <br />

            <br />
            <br />
@if (Model.Any())
{
 @foreach (var movie in Model)
                {
                    <div class="container section-title" data-aos="fade-up">
                        <h2>Movies For You </h2>

                    </div>  <br />
                    <br />  <br />
                    
        <div class="col-md-4 mb-4">
            <div class="card" style="width: 18rem;">
                @if (!string.IsNullOrEmpty(movie.CoverImage))
                {
                    <img src="~/movieimages/@movie.CoverImage" class="card-img-top" alt="@movie.Title" width="80" height="225" />


                }
                else
                {
                    <img src="~/images/default-cover.jpg" class="card-img-top" alt="Default Cover" width="80" height="225" />
                }

                <div class="card-body">
                    <strong><a href="@Url.Action("BookSeats", "Movie", new { movieId = movie.MovieId })">@movie.Title</a></strong>
                    <p class="card-text">
                        <strong>Showtime:</strong> @movie.ShowTime.ToString("MMMM dd, yyyy h:mm tt")
                    </p>
                    <a href="@Url.Action("BookSeats", "Movie", new { movieId = movie.MovieId })" class="btn btn-primary">Book Seats</a>
                </div>
            </div>
        </div>
    }


}
else
{

      <div class="container section-title" data-aos="fade-up">
  
    <p>No movies found matching your search criteria.</p>
    </div>
}</div>
</div>
</section>